<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        text-align: center;
        padding: 20px;
      }
      .button {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
      .navigation {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
      .nav-link {
        color: #fff; /* 设置导航链接文本颜色为白色 */
        text-decoration: none;
        margin: 0 10px;
      }
    </style>
  </head>
  <body>
    <div class="navigation">
      <h1>日誌收容平台</h1>
      <a href="/" class="nav-link">首頁</a>
      <a href="/logs" class="nav-link">查找日志</a>
      <a href="#" class="nav-link">查找儀表板</a>
      <a href="#" class="nav-link">查找異樣log</a>
    </div>
    <div class="container">
      <h1>日誌數據</h1>
      <form action="/searchLogs" method="GET">
        <label for="startDate">開始日期:</label>
        <input type="date" name="startDate" id="startDate" required />
        <label for="endDate">結束日期:</label>
        <input type="date" name="endDate" id="endDate" required />

        <label for="host">選擇主機:</label>
        <select name="host" id="host" required>
          <option value="LAPTOP-GPPNAMEN">LAPTOP-GPPNAMEN</option>
        </select>

        <button type="submit">搜索日誌</button>
      </form>

      <% if (error) { %>
      <p><%= error %></p>
      <% } else if (logs) { %>
      <ul>
        <% logs.forEach(function(log) { %>
        <li><%= log._source.message %></li>
        <% }); %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
